In [16]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv('/content/dbcompleta.csv')

print (f"****Columnas antes de la limpieza y trasformacion de datos****")
print(data.head())

# Contar los valores nulos
print(f"Columnas con datos nulos")
valores_nulos = data.isnull().sum()
print(valores_nulos)

# Manejo de valores nulos
data['outcome_type'].fillna('Unknow', inplace=True)
data['sex_upon_outcome'].fillna('Unknow', inplace=True)

# valores nulos en las columnas color y breed y Rellena con 'other'
null_color = data[data['color'].isnull()]
data['color'].fillna('other', inplace=True)

null_breed = data[data['breed'].isnull()]
data['breed'].fillna('other', inplace=True)


# Separa la columna sex_upon_intake en sex y reprod.
data[['sex_intake', 'reprod_intake']] = data['sex_upon_intake'].str.split(' ', expand=True)

# Separa la columna sex_upon_outcome en sex y reprod.
data[['sex_outcome', 'reprod_outcome']] = data['sex_upon_outcome'].str.split(' ', expand=True)

# Elimina las columnas originales
data.drop(columns=['sex_upon_intake', 'sex_upon_outcome'], inplace=True)

# Verifica los valores nulos en las columnas sex_intake y sex_outcomes
null_sex_intake = data[data['sex_intake'].isnull()]
null_sex_outcome = data[data['sex_outcome'].isnull()]

# Imprime la cantidad de valores nulos en las columnas sex_intake y sex_outcome
print("Cantidad de valores nulos en la columna 'sex_intake':", null_sex_intake.shape[0])
print("Cantidad de valores nulos en la columna 'sex_outcome':", null_sex_outcome.shape[0])

# Calcula la moda de las columnas sex_intake y sex_outcome
mode_sex_intake = data['sex_intake'].mode()[0]
mode_sex_outcome = data['sex_outcome'].mode()[0]

# Rellena los valores nulos con la moda
data['sex_intake'].fillna(mode_sex_intake, inplace=True)
data['sex_outcome'].fillna(mode_sex_outcome, inplace=True)

# valores nulos en las columnas color y breed y Rellena con 'other'
null_color = data[data['color'].isnull()]
data['color'].fillna('other', inplace=True)

null_breed = data[data['breed'].isnull()]
data['breed'].fillna('other', inplace=True)# Reemplaza '/' con un espacio en blanco en las columnas color y breed
data['color'] = data['color'].str.replace('/', ' ')
data['breed'] = data['breed'].str.replace('/', ' ')

# Divide las columnas color y breed en el primer espacio
split_color = data['color'].str.split(n=1, expand=True)
split_breed = data['breed'].str.split(n=1, expand=True)

# Asigna las partes divididas a las columnas correspondientes
data['color'] = split_color[0]
data['color1'] = split_color[1] if len(split_color.columns) > 1 else None
data['breed'] = split_breed[0]
data['breed1'] = split_breed[1] if len(split_breed.columns) > 1 else None

# Elimina las columnas especificadas
columns_to_drop = ['animal_id','age_upon_intake','animal_type.1','found_location','animal_id.1','color.1', 'breed.1', 'datetime_obj', 'datetime_obj.1' ]
data.drop(columns=columns_to_drop, inplace=True)

# Guardar el DataFrame
data.to_csv('/content/aac_intakes_outcomes_1.csv', index=False)

print (f"****Columnas despues de la limpieza y trasformacion de datos****")
# Vistazo rapido de nuestras variable en DF limpio
data_describe = pd.read_csv('/content/aac_intakes_outcomes_1.csv')

# Mostrar un resumen
print(data_describe.describe())
# visualizo column relevantes
print(f"*** columnas despues de la limpieza***")
print(data.head)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
****Columnas antes de la limpieza y trasformacion de datos****
  animal_id         datetime_obj  \
0   A786884  2019-01-03 16:19:00
1   A706918  2015-07-05 12:59:00
2   A682524  2014-06-29 10:38:00
3   A823407  2020-09-23 10:49:00
4   A823407  2020-09-23 10:49:00

                                      found_location intake_type  \
0                2501 Magin Meadow Dr in Austin (TX)       Stray
1                   9409 Bluegrass Dr in Austin (TX)       Stray
2                      800 Grove Blvd in Austin (TX)       Stray
3  Rosewood Avenue And Poquito Street in Austin (TX)       Stray
4  Rosewood Avenue And Poquito Street in Austin (TX)       Stray

  intake_condition animal_type sex_upon_intake age_upon_intake  \
0           Normal         Dog   Neutered Male         2 years
1           Normal         Dog   Spayed Female         8 years
2           Normal         Dog   Neutered Male         4 years
3           Normal         Cat   Intact Female        4 months
4           Normal         Cat   Intact Female        4 months

                                   breed        color animal_id.1  \
0                             Beagle Mix     Tricolor     A786884
1               English Springer Spaniel  White/Liver     A706918
2  Doberman Pinsch/Australian Cattle Dog     Tan/Gray     A682524
3                     Domestic Shorthair  Brown Tabby     A823407
4                     Domestic Shorthair  Brown Tabby     A823407

        datetime_obj.1     outcome_type animal_type.1 sex_upon_outcome  \
0  2019-01-08 15:11:00         Transfer           Dog    Neutered Male
1  2015-07-05 15:13:00  Return to Owner           Dog    Spayed Female
2  2014-07-02 14:16:00  Return to Owner           Dog    Neutered Male
3  2023-12-17 15:49:00  Return to Owner           Cat    Spayed Female
4  2021-01-16 12:27:00         Adoption           Cat    Spayed Female

  age_upon_outcome                                breed.1      color.1
0          2 years                             Beagle Mix     Tricolor
1          8 years               English Springer Spaniel  White/Liver
2          4 years  Doberman Pinsch/Australian Cattle Dog     Tan/Gray
3          3 years                     Domestic Shorthair  Brown Tabby
4         8 months                     Domestic Shorthair  Brown Tabby
Columnas con datos nulos
animal_id           815
datetime_obj        815
found_location      815
intake_type         815
intake_condition    815
animal_type         815
sex_upon_intake     817
age_upon_intake     816
breed               815
color               815
animal_id.1         643
datetime_obj.1      643
outcome_type        689
animal_type.1       643
sex_upon_outcome    645
age_upon_outcome    652
breed.1             643
color.1             643
dtype: int64
Cantidad de valores nulos en la columna 'sex_intake': 817
Cantidad de valores nulos en la columna 'sex_outcome': 0
****Columnas despues de la limpieza y trasformacion de datos****
       intake_type intake_condition animal_type     breed   color  \
count       204822           204822      204822    205637  205637
unique           6               20           5       314      32
top          Stray           Normal         Dog  Domestic   Black
freq        133106           179207      127276     64645   51278

       outcome_type age_upon_outcome sex_intake reprod_intake sex_outcome  \
count        205637           204985     205637        192392      205637
unique           12               55          4             2           5
top        Adoption           1 year     Intact          Male    Neutered
freq          98853            36075     120716        102867       79543

       reprod_outcome  color1         breed1
count          192587  142868         197059
unique              2     166           1747
top              Male   White  Shorthair Mix
freq           102934   52835          45873
*** columnas despues de la limpieza***
<bound method NDFrame.head of        intake_type intake_condition animal_type     breed     color  \
0            Stray           Normal         Dog    Beagle  Tricolor
1            Stray           Normal         Dog   English     White
2            Stray           Normal         Dog  Doberman       Tan
3            Stray           Normal         Cat  Domestic     Brown
4            Stray           Normal         Cat  Domestic     Brown
...            ...              ...         ...       ...       ...
205632         NaN              NaN         NaN     other     other
205633         NaN              NaN         NaN     other     other
205634         NaN              NaN         NaN     other     other
205635         NaN              NaN         NaN     other     other
205636         NaN              NaN         NaN     other     other

           outcome_type age_upon_outcome sex_intake reprod_intake sex_outcome  \
0              Transfer          2 years   Neutered          Male    Neutered
1       Return to Owner          8 years     Spayed        Female      Spayed
2       Return to Owner          4 years   Neutered          Male    Neutered
3       Return to Owner          3 years     Intact        Female      Spayed
4              Adoption         8 months     Intact        Female      Spayed
...                 ...              ...        ...           ...         ...
205632  Return to Owner          9 years     Intact           NaN    Neutered
205633         Adoption         5 months     Intact           NaN    Neutered
205634         Adoption         3 months     Intact           NaN    Neutered
205635         Adoption           1 year     Intact           NaN      Spayed
205636         Transfer           1 year     Intact           NaN    Neutered

       reprod_outcome color1                        breed1
0                Male   None                           Mix
1              Female  Liver              Springer Spaniel
2                Male   Gray  Pinsch Australian Cattle Dog
3              Female  Tabby                     Shorthair
4              Female  Tabby                     Shorthair
...               ...    ...                           ...
205632           Male   None                          None
205633           Male   None                          None
205634           Male   None                          None
205635         Female   None                          None
205636           Male   None                          None

[205637 rows x 13 columns]>